/*  your css code here. If applicable */
#yellow{
	background-color : yellow;
	border-width : 1px  ;
	border-color : green;
	border: green 1px solid;
}
#red {
	background-color : red;
	border-width : 1px;
	border-color : black;
	border : black 1px solid;
	
}
#green{
	background-color : green;
	border-width : 1px;
	border-color : yellow;
	border : yellow 1px solid;
}